.benefit {

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 24px;
        opacity: 0.9;
    }

    &__text {
        margin-bottom: 14px;
        font-size: 16px;
        line-height: 1.85;
        opacity: 0.8;
    }
}