.read-more {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    color: var(--accent);

    &::after {
        content: url('../img/icons/arrow-right.svg');
        height: 24px;
    }

    &--big {
        font-size: 18px;
    }
}