.tab-controls {
    display: inline-flex;
    align-items: center;
    padding: 6px;
    border-radius: 44px;
    background: #eee;

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 84px;
        min-height: 45px;
        padding: 4px;
        font-size: 18px;
        line-height: 1.85;
        border-radius: 32px;
        color: rgba(30, 30, 30, 0.8);
        transition: background-color .2s ease-in;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }

        &--active {
            font-weight: 500;
            background-color: #fff;

            &:hover {
                background-color: #fff;
            }
        }
    }
}