:root {

    // Colors
    --text-color: #1E1E1E;
    --text-muted: #8D8D8D;
    --text-card-dark-blue: #0D1B39;
    --accent: #E58411;

    --header-text-color: #fff;

    --footer-accent: #F6973F;
    --footer-bg: #2d2f33;
    --footer-text-color: rgba(255, 255, 255, 0.8);

    --ui-orange: #E58411;
    --ui-biruza: #00D6C9;
    --ui-gray: #7C7C7C;
    --ui-dark-blue: #0D1B39;

    // Fonts
    --font-main: 'Gilroy', sans-serif;
    --font-cards: 'Inter', sans-serif;
    --font-footer-accent: 'DM Sans', sans-serif;
}

// MIXIN

@mixin retina-bg ($image) {

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: $image;
    }
}

// @Media

@mixin desktop-small () {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin tablet () {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin mobile-xl () {
    @media (max-width: 819px) {
        @content;
    }
}

@mixin mobile () {
    @media (max-width: 629px) {
        @content;
    }
}